@font-face {
    font-family: "made-outer-sans";
    src: url("/fonts/Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: "made-outer-sans";
    src: url("/fonts/Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: "made-outer-sans";
    src: url("/fonts/Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: "made-outer-sans";
    src: url("/fonts/Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: "made-outer-sans";
    src: url("/fonts/Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "made-outer-sans";
    src: url("/fonts/Thin.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
  }

* {
    font-family: "made-outer-sans", sans-serif;
}